.Container {
    width: 100%;
    height: 800px;
    display: flex;
}

.UserProfile {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;

}

.UserInfor {
    width: 70%;
    height: 100%;
    ;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 50px;
    margin: 40px auto;
    font-family: 'Niconne', cursive;
}

.navinfor {
    margin-top: 100px;
}


.nav {
    list-style: none;
}

.nav li {
    margin-bottom: 30px;
}

.nav a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    padding-left: 150px;
    font-size: 20px;
}

.Icon {
    padding-left: 30px;
}

.form {
    width: 70%;
    height: 70%;
}

.form1 {
    width: 100%;
    height: 100%;
    padding-top: 150px;
    padding-left: 50px;

}


//css 


$primary: #11998e;
$secondary: #38ef7d;
$white: black;
$gray: #9b9b9b;



.form__group {
    position: relative;
    padding: 15px 0 0;
    margin: 40px auto;
    width: 50%;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid $gray;
    outline: 0;
    font-size: 1.3rem;
    color: $white;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder {
        color: transparent;
    }

    &:placeholder-shown~.form__label {
        font-size: 1.3rem;
        cursor: text;
        top: 20px;
    }
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $gray;
}

.form__field:focus {
    ~.form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: $primary;
        font-weight: 700;
    }

    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, $primary, $secondary);
    border-image-slice: 1;
}

/* reset input */
.form__field {

    &:required,
    &:invalid {
        box-shadow: none;
    }
}

.custom-button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.custom-button:hover {
    background-color: #2186c9;
    transform: scale(1.05);
}